{% extends 'layout.html.twig' %}

{% block title %}{% trans %}Pager Administration{% endtrans %}{% endblock %}

{% block main %}
	<main class="main-container mx-auto p-4">
		<h1>{% trans %}Pager Administration{% endtrans %}</h1>

		<div class="mt-4">
			<h2>{{ pager.number| format_number({min_integer_digit:'2'}) }}: {{ pager.label }}</h2>

		</div>

		<div class="row gx-5">
		<div class="py-3 mt-5 col-12 col-md bg-body-secondary">
			<dl>
				<dt>{% trans %}Number{% endtrans %}</dt>
				<dd>{{ pager.number }}</dd>
				<dt>{% trans %}Label{% endtrans %}</dt>
				<dd>{{ pager.label }}</dd>
				<dt>{% trans %}Comment{% endtrans %}</dt>
				<dd>-</dd>
			</dl>
			{% if is_granted('ROLE_MANAGE_PAGER_CONFIGURATION') %}
			<a href="{{ path('web_pager_management_pager_edit', {id: pager.id} ) }}" class="btn btn-outline-primary btn-sm">
				{% trans %}Change{% endtrans %}
			</a>
			{% endif %}
		</div>

		<div class="mt-5 col-12 col-md">
			<h3>{% trans %}Status{% endtrans %}</h3>
			<dl>
				<dt>{% trans %}Status{% endtrans %}</dt>
				<dd>
					{% if pager.isActive %}
						<span class="d-inline rounded-pill ps-2 pe-1 text-bg-success fs-6 fw-semibold text-uppercase">{% trans %}Active{% endtrans %}
								<twig:ux:icon name="bi:play-circle" height="16" width="16" aria-hidden="true" class="bi ms-1"/></span>
					{% else %}
						<div class="d-inline rounded-pill ps-2 pe-1 text-bg-danger fs-6 fw-semibold text-uppercase">{% trans %}Inactive{% endtrans %}
							<twig:ux:icon name="bi:pause-circle" height="16" width="16" aria-hidden="true" class="bi ms-1"/></div>
					{% endif %}
				</dd>
				<dt>{% trans %}Assignment{% endtrans %}</dt>
				<dd>{{ pager.carriedByName ?? '-' }}</dd>
			</dl>

			{% if is_granted('ROLE_MANAGE_PAGER_STATUS') %}
			<a href="{{ path('web_pager_management_pager_assignment', {id: pager.id} ) }}" class="btn btn-outline-primary btn-sm">
				{% trans %}Change state & assignment{% endtrans %}
			</a>
			{% endif %}
		</div>
		</div>

		<div class="mt-5">
			<h3>{% trans %}Configuration{% endtrans %}</h3>

			<h4 class="mt-3">{% trans %}Cap Assignments{% endtrans %}</h4>

			<form>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">{% trans %}Slot{% endtrans %}</th>
						<th scope="col">{% trans %}Assignment{% endtrans %}</th>
						<th scope="col">{% trans %}Cap Code{% endtrans %}</th>
						<th scope="col">{% trans %}Audible{% endtrans %}</th>
						<th scope="col">{% trans %}Vibration{% endtrans %}</th>
						{% if is_granted('ROLE_MANAGE_PAGER_CONFIGURATION') %}
						<th scope="col">{% trans %}Edit{% endtrans %}</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
				{% for iSlot in 0..7 %}
					{% set assignment = capAssignments|find(a => a.slot == iSlot) %}
					<tr>
						{%  if assignment %}
							<th scope="row">{{ iSlot + 1 }}</th>
							<td>{{ assignment.type }}</td>
							<td>{{ assignment.capCode }}</td>
							<td>{{ assignment.audible ? 'Yes' : 'No' }}</td>
							<td>{{ assignment.vibration ? 'Yes' : 'No' }}</td>
						{% if is_granted('ROLE_MANAGE_PAGER_CONFIGURATION') %}
							<td>
								<a href="{{ path('web_pager_management_pager_slot', {id: pager.id, index: iSlot} ) }}" class="btn btn-outline-primary btn-sm">
									<twig:ux:icon name="bi:pencil" height="16" width="16" aria-hidden="true" class="bi"/>
								</a>
							</td>
						{% endif %}
						{% else %}
							<th scope="row">{{ iSlot + 1 }}</th>
							<td class="text-muted">Not assigned</td>
							<td></td>
							<td></td>
							<td></td>
							{% if is_granted('ROLE_MANAGE_PAGER_CONFIGURATION') %}
							<td>
								<a href="{{ path('web_pager_management_pager_slot', {id: pager.id, index: iSlot} ) }}" class="btn btn-outline-primary btn-sm">
									<twig:ux:icon name="bi:plus" height="16" width="16" aria-hidden="true" class="bi"/>
								</a></td>
								{% endif %}
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</form>
		</div>

		{% if is_granted('ROLE_MANAGE_PAGER_CONFIGURATION') %}
		<div class="row gx-5">
		<div class="mt-5 py-3  bg-danger text-bg-danger">
			<h3>{% trans %}Danger Zone{% endtrans %}</h3>

			<p>This action is destructive and can't be undone. Cap codes will not be removed from pagers automatically.</p>

			{{ form_start(delete_form) }}
			{{ form_errors(delete_form) }}
			{#  <twig:ux:icon name="bi:trash3" height="16" width="16" aria-hidden="true" class="bi me-2"/> #}
			{{ form_widget(delete_form.delete, {'attr': {'class': 'mt-3 btn btn-outline-light'}}) }}
			{{ form_end(delete_form) }}
		</div>
		</div>
		{% endif %}
	</main>
{% endblock %}
