{% extends 'layout.html.twig' %}

{% block title %}Pager System{% endblock %}

{% block main %}
    <div style="margin: 4rem auto; max-width: 40rem; background-color: #eee; padding: 1rem">
        <h1>Send Message</h1>

        {{ form(form) }}
    </div>

    <div>
        <div class="table-responsive">

            <table class="table table-hover align-middle">
                <thead>
                <tr>
                    <th scope="col">Zeitstempel</th>
                    <th scope="col">Nachricht</th>
                    <th scope="col">Priorität</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for message in messageLog %}
                <tr>
                    <td>{{ message.sentOn|date("d.m.y H:i") }}</td>
                    <td> {{ message.content }} </td>
                    <td>{{ message.priority }}</td>
                    <td>{{ message.status }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
