<div{{ attributes }} data-poll="delay(180000)|$render" class="">
    {% for transport in computed.transports %}

        <div class="d-flex flex-column gap-2 mb-3">
            <div class="card">
                <div class="card-body d-flex flex-row">
                    <div class="me-3 pt-1">
                        <div class="dot fs-3 {{ transport.enabled ? 'text-success' : 'text-secondary' }}"></div>
                    </div>
                    <div class="w-100">
                        <h3>{{ transport.title }}</h3>

                        <dl class="d-flex gap-2 mb-0 justify-content-start text-break flex-wrap">
                            <dt class="text-muted">Key</dt>
                            <dd clasS="">{{ transport.key }}</dd>

                            <dt class="text-muted">Type</dt>
                            <dd>{{ transport.transport|split('\\')|last }}</dd>
                        </dl>

                    </div>
                </div>
                <div class="card-footer p-0 bg-body-tertiary d-flex justify-content-end">
                    <a href="{{ path('web_admin_transport_details', {key: transport.key}) }}" class="btn btn-sm btn-outline-secondary rounded-0 border-0">
                        <twig:ux:icon name="bi:eye" height="16" width="16" aria-hidden="true" class="bi me-2"/>{% trans %}View{% endtrans %}
                    </a>
                    {% if is_granted('ROLE_TRANSPORT_ADMINISTRATOR') %}
                        <a href="{{ path('web_admin_transport_edit', {key: transport.key}) }}" class="btn btn-sm btn-primary rounded-start-0 rounded-top-0">
                            <twig:ux:icon name="bi:pencil" height="16" width="16" aria-hidden="true" class="bi me-2"/>{% trans %}Edit{% endtrans %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}


    {% if is_granted('ROLE_TRANSPORT_ADMINISTRATOR') %}
        <div>
            <a href="{{ path('web_admin_transport_add') }}" class="btn btn-primary">
                <twig:ux:icon name="bi:plus-lg" height="16" width="16" aria-hidden="true" class="bi me-2"/>{% trans %}Add Transport{% endtrans %}
            </a>
        </div>
    {% endif %}

</div>
